# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
dkms.conf
/.metadata/
LissandraFileSystem/FS_LISSANDRA/
LissandraFileSystem/.settings/org.eclipse.cdt.ui.prefs
LissandraFileSystem/.settings/org.eclipse.cdt.core.prefs
LissandraFileSystem/.settings/org.eclipse.cdt.codan.core.prefs
Memoria/.settings/language.settings.xml
Memoria/.project
Memoria/.cproject
Memoria/.settings/language.settings.xml
Memoria/.project
Memoria/.project
Memoria/.cproject
LissandraFileSystem/.settings/language.settings.xml
Libraries/.settings/language.settings.xml
Kernel/.settings/language.settings.xml
Libraries/.settings/language.settings.xml

# Kernel2
KernelV2/infoKernel.log
KernelV2/erroresKernel.log
KernelV2/tracesKernel.log

# Eclipse
*valgrind*
LissandraFileSystem/Debug/LissandraFileSystem

# Excepciones
!KernelV2/DebugLissandraFileSystem/infoLFS.log
