# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
dkms.conf
/.metadata/
LissandraFileSystem/FS_LISSANDRA/

# Kernel2
KernelV2/infoKernel.log
KernelV2/erroresKernel.log
KernelV2/tracesKernel.log

# Eclipse
*valgrind*
LissandraFileSystem/Debug/LissandraFileSystem

# Excepciones
!KernelV2/DebugLissandraFileSystem/infoLFS.log
Memoria/MEM_results.txt
Memoria/MEM_resuslts.txt

*.cfg
*.log
